<div id="detailsDiv">
 	<div class="row">
 		<!-- request list -->
 		<div class="col-sm-2">
 			<h5>Request</h5>
 			<div class="row" ng-repeat="packet in trackingrequest.Packets.Packet">
 				<div class="col-sm-12">
 					<a href="" ng-click="viewPacket(packet)">{{packet.PacketID}}</a>
 				</div>
 			</div>
 		
 		
 		</div>
 		<div class="col-sm-10">
 		 	<h5>Request Details</h5>
 		<!-- request details -->
 			<div class="row">
				<div class="col-sm-3">
					<label>Request UUID</label>
				</div>
				<div class="col-sm-5">
					{{trackingrequest.TransactionRequestUUID}}
				</div>
			</div>
 			<div class="row">
				<div class="col-sm-3">
					<label>Event Code</label>
				</div>
				<div class="col-sm-5">
					{{trackingrequest.ClientApplicationEvent}}
				</div>
			</div>
 			<div class="row">
				<div class="col-sm-3">
					<label>Operating Company</label>
				</div>
				<div class="col-sm-5">
					{{trackingrequest.OperatingCompany}}
				</div>
			</div>
 			<div class="row">
				<div class="col-sm-3">
					<label>Source System</label>
				</div>
				<div class="col-sm-5">
					{{trackingrequest.SourceSystem}}
				</div>
			</div>
 			<div class="row">
				<div class="col-sm-3">
					<label>Client Application</label>
				</div>
				<div class="col-sm-5">
					{{trackingrequest.ClientApplication}}
				</div>
			</div>
 			<div class="row">
				<div class="col-sm-3">
					<label>Policy Number</label>
				</div>
				<div class="col-sm-5">
					{{trackingrequest.PolicyNumber}}
				</div>
			</div>
 			<div class="row">
				<div class="col-sm-3">
					<label>Complete Flag</label>
				</div>
				<div class="col-sm-5">
					{{trackingrequest.RequestCompleteFlag}}
				</div>
			</div>
 			<div class="row">
				<div class="col-sm-3">
					<label>Policy Effective Date</label>
				</div>
				<div class="col-sm-5">
					{{trackingrequest.PolicyEffectiveDate}}
				</div>
			</div>												
 		</div>
 	
 	</div>

	
</div> 